{% extends "base.html" %}
{% load filter %}
{% load static %}
{% block title %} {{ plant }} {% endblock %}
{% block content %}
<div class="d-flex align-content-start flex-wrap">

  <div class="d-flex align-content-start flex-wrap">
    <p style="margin: 10px">
      Plantsfinder is a plant catalog that automatically curates a selection of plants. 
      It caters to both amateur gardeners and professionals in the field of landscape 
      design. The content is presented in simple language that is easily understandable 
      even for individuals without specialized knowledge. However, the plant descriptions 
      are comprehensive, providing all the necessary information for gardening work.
    </p>
  </div>

  <div class="col-12" style="padding: 10px">
    <h1>Plants search</h1>
    <p>In order to start the selection of plants - select a category:</p>
  </div>

  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3 plant-card">
    <a class="no-link" href="./deciduous">
      <div style="height: 100%;">
        <img class="plant-card-image" style="padding-bottom: 5px;" src="../../static/img/plant_categories/deciduous_trees_shrubs_lianes.webp" >
        <b>Deciduous trees, shrubs and lianes</b>
      </div>
    </a>
  </div>

  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3 plant-card">
    <a class="no-link" href="#">
      <div style="height: 100%;">
        <img class="plant-card-image" style="padding-bottom: 5px;" src="../../static/img/plant_categories/coniferous_trees_shrubs.webp" >
        <p>Coniferous trees and shrubs (coming soon)</p>
      </div>
    </a>
  </div>

  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3 plant-card">
    <a class="no-link" href="#">
      <div style="height: 100%;">
        <img class="plant-card-image" style="padding-bottom: 5px;" src="../../static/img/plant_categories/perennial_herbaceous.webp" >
        <p>Perennial herbaceous plants (coming soon)</p>
      </div>
    </a>
  </div>

  <div class="d-flex align-content-start flex-wrap">
    <p style="margin: 10px">Plantsfinder proves helpful in the following situations:</p>
    <ol style="margin: 10px">
      <li>
        When you find it challenging to decide which plants to cultivate, you can input 
        specific search parameters such as frost resistance zone, humidity, illumination, 
        and more. This generates a list of plants that match the characteristics of your 
        site.
      </li>
      <li>
        If you have a particular plant in mind but want to double-check its suitability 
        for your area, Plantsfinder allows you to verify your selection. By doing so, 
        you can avoid unsuccessful experiments with plants that may not be suitable for 
        your specific location, saving both time and money.
      </li>
      <li>
        If you have already planted certain plants but they are not thriving, the issue 
        may not be related to diseases or pests, but rather their placement. 
        Understanding the specific needs of the plant, you can take appropriate action, 
        such as relocating it to a more suitable spot or adjusting care practices like 
        soil acidity, watering frequency, and more.
      </li>
    </ol>
    <p style="margin: 10px">
      The selection criteria for plants are organized in order of importance, with the 
      most critical factors listed first. You begin by specifying the characteristics of 
      your planting area, followed by the desired visual aspects of the plant, including 
      width, height, decorative features, and other relevant details.
    </p>
  </div>
</div>
{% endblock %}