{% extends "base.html" %}
{% load static %}
{% block title %}Plantsfinder{% endblock %}
{% block content %}
  <div class="d-flex align-content-start flex-wrap">
    <p style="margin: 10px">
      Plantsfinder is a catalog of plants with an automated selection of their assortment. 
      It is used by both amateur gardeners and professionals in the field of landscape 
      design. The material is presented in simple language, understandable to a person 
      who does not have special knowledge. At the same time, descriptions of plants are 
      detailed and contain all the information necessary for work.
    </p>
    <p style="margin: 10px">Plantsfinder helps when:</p>
    <ol style="margin: 10px">
      <li>
        It's hard for you to choose what to plant. To get a list of all items that match 
        the characteristics of the site, set the search parameters in the menu: frost 
        resistance zone, humidity, illumination, and others.
      </li>
      <li>
        The person has chosen what he wants to see on the site, but wants to check his 
        choice. In this way, he will avoid unsuccessful experiments with plants that are 
        initially unsuitable for planting in a given area. This will save him both time 
        and money.
      </li>
      <li>
        The person has already planted plants, but they do not grow well. Perhaps the 
        reason is not in diseases and pests, but simply in the wrong place. Knowing what 
        the plant needs, he can help him. For example, transplant to another place or 
        change care: increase or decrease the acidity of the soil, water more or less.
      </li>
    </ol>
    <p style="margin: 10px">
      Plant selection criteria are arranged in order of importance, with the critical 
      ones coming first. At the very beginning, you specify the characteristics of the 
      place for which you select the assortment. Then come the external signs of the 
      plant - how it should look: width, height, decorative parts and other details.
    </p>
  </div>
{% endblock %}